    .buttonn{
    display:inline-block;
    background-color:var(--first-color);
    color:var(--body-color);
    padding:.50rem 1rem;
    border-radius:.5rem;
    font-weight:var(--font-medium);
    transition:.4s
}